.App {
  width: auto;
  height: 100%;
  background-image: linear-gradient(to right, white, #C2B2FF);
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.container- {
  height: 100%;
  margin-left: 250px;
}

.Sidebar {
  height: 100%;
  width: 240px;
  background-color: #161e26;
  position: fixed;
  top: 0;
  left: 0;
  
}

.logo {
  height: 100px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Sidebarlist {
  height: auto;
  padding: 0;
  width: 100%;
}

.Sidebarlist .row {
  width: 100%;
  height: 50px;
  padding: 10px;
  color: white;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Sidebarlist .row:hover {
  cursor: pointer;
  background-color: white;
  color: orange;
  border: 0px solid white;
  width: auto;
}

.Sidebarlist #active {
  background-color: white;
  color: orange;
  border: 1px solid white;
  width: auto;
  
}

.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.row #title {
  flex: 70%;
}

.home {
  align-items: center;
}

.container2 {
  width: 100%;
}

.heading {
  font-family: 'Merriweather', serif;
  font-size: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  padding: 20px;
  font-weight: bold;
  color: black;
  text-shadow: 2px 2px #6039af;
}

.subheading {
  padding: 20px;
}

.card1 {
  margin-left: 4%;
  text-align: center;
  
}

.subheading2 {
  text-align: center;
  padding: 20px;
  font-size: large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.flex-container {
  display: flex;
}

.flex-container > img {
  border-radius: 50%;
  border: 2px solid black;
  margin-left: 13%;
  margin-top: 3%;
}

.flex-container2 {
  display: flex;
}

.flex-container2 > img {
  border-radius: 50%;
  border: 2px solid black;
  margin-top: 3%;
}

.flex-container3 {
  display: flex;
  flex-wrap: wrap;
  flex-flow: wrap;
}

.card2 {
  margin-left: 4%;
  margin-top: 3%;
  text-align: center;
  
}
